body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #646871;

}

a {
    color: #00B7FF;
}

.navbar {
    border: 2px black solid;
}

.list-high {
    margin: 40px 0px 20px 0px;
}

.title_games {
    margin: 60px 0px 20px 0px;
}


.lh {
    float: right;
}

.header_site {
    background-color: #53575f;
}

.ul_site {
    background-color: rgb(233, 231, 228);
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.ul_site ul {
    /* position: absolute; */
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    color: #6d7d8c;
}

.ul_site li {
    list-style-type: none;
}

.image-list {
    margin-right: 10px;
}

.input_header {
    margin: 40px 0px 20px 0px;
    background-color: transparent;
    border: none;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }


  .input_image {
    font-family: 'Roboto', sans-serif;
    padding: 0.7rem 2rem;
    background-color: rgb(255, 255, 255);
    display: block;
    border: none;
    border-radius: 9px;
    transition: all 0.3s;
  }
.input_image:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
.logo_bild {
    margin: 20px 0px 20px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.spels_score{
    font-size: 220px;
}

.admin{
    color: rgb(225, 147, 31);
}


.admin_table{
    background-color: #646871;
}




.group        { 
    position:relative; 
    margin-bottom:45px; 
  }
  .input_header         {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  .input_header:focus     { outline:none; }

  .label_header          {
    color:rgb(121, 92, 92); 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .input_header:focus ~  .label_header, input:valid ~  .label_header    {
    top:-20px;
    font-size:14px;
    color:#08090c;
  }

.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#0f1630; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.input_header:focus ~ .bar:before,   .input_header:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */

